<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.radioknit.testmmi">
<!--pass word : unimmikey
key location : C:\Users\Radioknit\StudioProjects\UniMmiKey.jks
* in all placess of release-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.radioknit.testmmi.LoginActivity">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name="com.radioknit.testmmi.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.radioknit.testmmi.ViewErrorLogActivity" />
        <activity android:name="com.radioknit.testmmi.DeviceListActivity" />
        <activity android:name="com.radioknit.testmmi.WriteModeEnableActivity" />
        <activity android:name="com.radioknit.testmmi.MainDisplayActivity" />
        <activity android:name="com.radioknit.testmmi.CarCallActivity" />
        <activity android:name="com.radioknit.testmmi.CarCallActivity31" />
        <activity android:name="com.radioknit.testmmi.IOIndicatorActivity" />
        <activity android:name="com.radioknit.testmmi.SetDateTimeActivity" />
        <activity android:name="com.radioknit.testmmi.ProgramCodeActivity" />
        <activity android:name="com.radioknit.testmmi.DisplayPatternActivity" />
        <activity android:name="com.radioknit.testmmi.DeviceIDActivity" />
        <activity android:name="com.radioknit.testmmi.ProgrammablePrarmeterActivity" />
        <activity android:name="com.radioknit.testmmi.SpeedSelectionActivity" />
        <activity android:name="com.radioknit.testmmi.FloorCallBlockingActivity" />
        <activity android:name="com.radioknit.testmmi.LevelFunctionActivity" />
        <activity android:name="com.radioknit.testmmi.AutoLevelActivity" />
        <activity
            android:name="com.radioknit.testmmi.SignUpActivity"
            android:label="Sign Up" />
    </application>

</manifest>